.header-container {
    flex-shrink: 0;
    padding: 0.5rem 10rem;
    background-color: cornflowerblue;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
}

@media (max-width: 1200px) {
    .header-container {
        padding: 0.8rem;
    }
}

.brand-box {
    font-weight: bold;
    display: flex;
    text-align: center;
}

.eteration {
    margin: 0;
    font-size: 1.5rem;
    color: white;
    align-self: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.balance {
    text-align: center;
    font-weight: bold;
    color: white;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}